<ion-tabs  color="yelow1">
  <ion-tab [root]="tab1Root" tabTitle="Restaurants" tabIcon="ios-restaurant-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Map" tabIcon="ios-map-outline"></ion-tab>
</ion-tabs>
