<!--
  Generated template for the Skopje page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Restaurants in Skopje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click)="SkopjeRel1()" ion-button round icon-left block color="dark">
    Plaza De Toros
  </button>
  <button (click)="SkopjeRel2()" ion-button round icon-left block color="light">
    Gostilnica Dukat
  </button>
</ion-content>
