<ion-header >
  <ion-navbar color="primary">
    <ion-title align="center">Bus Station Location </ion-title>

  </ion-navbar>
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */

  </style>


</ion-header>

<ion-content>



  <div id="map" class="map" style="height: 100%"></div>

</ion-content>
