<!--
  Generated template for the OhridRel1 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Restaurant Dalga</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" [(ngModel)]="data.nameofuser" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Surname</ion-label>
      <ion-input type="text"[(ngModel)]="data.surnameofuser" value=""></ion-input>
    </ion-item>
    <p align="center">
      Restaurant Dagla
    </p>
    <p align="center">
      Date: 17-07-2017
    </p>
    <p align="center">
      Time: 01:00 PM
    </p>
    <p align="center">
      Price: 100
    </p>
    <ion-buttons end>
      <button (click)="Reserve()" ion-button small outline item-right icon-left>
        <ion-icon name="add"></ion-icon>
        Reserve your table
      </button>
    </ion-buttons>

  </ion-list>
</ion-content>
