page-camera {
  .theGallery{

    width: 100%;


    img{
      float:left;
      width: 23%;
      padding: 2px;
      -webkit-border-radius: 5%;
      margin: 2px;
      border: 1px solid #eee;
    }
  }
}
