<!--
  Generated template for the Camera page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title align="center">Camera</ion-title>

    <!--<button (click)="takePicture()" ion-button large outline item-left>-->
      <!--<ion-icon name="ios-camera-outline"></ion-icon>-->
    <!--</button>-->
  </ion-navbar>

</ion-header>


<ion-content end>

  <ion-buttons>
  <button (click)="takePicture()" ion-button medium outline item-right>
    <ion-icon medium name="ios-camera-outline"></ion-icon>
    Camera
  </button>

  </ion-buttons>




    <ion-card *ngIf="images.imagesArr.length == 0">

      <ion-card-content>
        No images
      </ion-card-content>

    </ion-card>

    <div class="theGallery"  text-center *ngIf="images.imagesArr.length > 0">
      <img [src]="image.src" *ngFor="let image of images.imagesArr; let i = index" alt=""
           (press)="presentActionSheet(image.id)" (tap)="openFullSizeImg(image.id)">

    </div>
  </ion-content>

    <!--<button ion-button (click)="testFunction()">Take New</button>-->




