<!--
  Generated template for the Struga page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Restaurants in Struga</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click)="StrugaRel1()" ion-button round icon-left block color="primary">
    Restaurant Aquarius
  </button>
  <button (click)="StrugaRel2()" ion-button round icon-left block color="oh2">
    Pizzeria Angela
  </button>

</ion-content>
