<!--
  Generated template for the Ohrid page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Restaurants in Ohrid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button (click)="OhridRel1()" ion-button round icon-left block color="oh1">
    Restaurant Dagla
  </button>
  <button (click)="OhridRel2()" ion-button round icon-left block color="oh2">
    Restaurant Belvedere
  </button>


</ion-content>
