page-bus-stations {
  .scroll-content{
    background: url('file:///android_asset/www/assets/background.jpg');
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}
