<!--
  Generated template for the BusStations page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title align="center">Restourants</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button (click)="Ohrid()" ion-button round icon-left block color="secondary">
    Ohrid
  </button>
  <button (click)="Struga()"ion-button round icon-left block color="primary">
    Struga
  </button>
  <button (click)="Skopje()" ion-button round icon-left block color="light">
    Skopje
  </button>
  <button (click)="Bitola()" ion-button round icon-left block color="dark">
    Bitola
  </button>



</ion-content>
