<!--
  Generated template for the Bitola page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Restaurants in Bitola</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click)="BitolaRel1()" ion-button round icon-left block color="secondary">
    Restaurant vavilon
  </button>
  <button (click)="BitolaRel2()" ion-button round icon-left block color="danger">
    Lounge bar Manaki Bitola
  </button>
</ion-content>
