page-image {
  //position: relative;
  //background: black;
  //
  //.close-button {
  //  position: absolute;
  //  left: 5px;
  //  top: 10px;
  //  z-index: 10;
  //  background: none;
  //
  //  &.button-ios {
  //    top: 20px;
  //  }
  //}
  //
  //.slider {
  //  .slide-zoom {
  //    height: 100%;
  //  }
  //}
  //
  //.image-on-top {
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 100%;
  //  height: 100%;
  //  z-index: 10;
  //
  //  display: block;
  //
  //  background-repeat: no-repeat;
  //  background-position: center center;
  //  background-size: contain;
  //}

}
