<!--
  Generated template for the Image page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

    <ion-navbar  color="primary">
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Gallery</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <img (swipe)="changeImg($event)" [src]="image" style="width: 100%" alt="">


</ion-content>



